/*
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
* {
    /*box-sizing: border-box;*/
}
::-webkit-scrollbar {
    display: none;
}



.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}
.windowbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    background: #32353D;
    color: rgba(255,255,255,.6);
    line-height: 28px;
    z-index: 100;
}
.windowbar span {
    padding: 2px 10px;
    margin: 0px 2px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
}
.windowbar span:hover {
    background: rgba(0,0,0,.2);
}
.windowbar span:active {
    background: rgba(0,0,0,.3);
    color: rgba(255,255,255,.8);
}
.windowbar .controls {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 30px;
    width: 90px;
}
.windowbar .controls span, .windowbar .controls a {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.windowbar .controls span i, .windowbar .controls a i {
    color: #fff;
}
.windowbar .controls span:hover {
    background: rgba(0,0,0,.2);
}
.windowbar .controls .min {right: 60px;}
.windowbar .controls .max {right: 30px;}
.windowbar .controls .close {right: 0px;background:#E87460;}
.windowbar .controls .close:active {opacity: .9;}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #28d;
}

.login-header {
    background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.login-container {
    background: #ebebeb;
    padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
    padding: 12px;
}

input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
    border-color: #05a;
}




body {
    margin:0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.45;
    color: #141414;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.btn {
    display: inline-block;
    margin: 1rem 0;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    background: #007ece;
    letter-spacing: .02em;
    border: none;
    border-radius: 5px;
    padding: .8rem 1rem .9rem;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.btn:hover {
    background: #008ee8;
    color: #fff;
}
.btn:focus, .btn:active, .btn:focus:active {
    background: #006eb5;
    border-color: #006eb5;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-height:300px;
    max-width: 900px;
}

header {
    color: white;
    background: #007ece;
    padding: 10rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
header h1 {
    font-size: 3rem;
    margin: 0 0 1rem;
}
header h2 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 0 1rem;
}


section {
    background: #fff;
    color: #1c262b;
    padding: 3.5rem 0;
}

section.section--primary {
    background: #007ece;
    color: #fff;
}
section.section--primary--alt {
    background: #27a4f4;
    color: #fff;
}
section.section--primary--light {
    background: rgba(0, 126, 206, 0.1);
}
section.section--grey {
    background: #1c262b;
    color: #fff;
}
section.section--grey--light {
    background: #29363e;
    color: #fff;
}
section h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 1rem;
}

section li {
    font-size: 1.2rem;
    font-weight: 300;
}
section p {
    font-size: 1.2rem;
    font-weight: 300;
}

.col, .col-7, .col-3, .col-5 {
    margin: 0 1.5%;
    display: inline-block;
    vertical-align: top;
}

.col-7 {
    width: 64%;
}


.col-3 {
    width: 29%;
}


.col-5 {
    width: 30%;
}


.details {
    text-align: left;
}
.details h3 {
    font-size: 2rem;
    text-align: left;
}






footer {
    background: #2d2b2a;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.4);
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer ul li {
    display: inline-block;
}
footer ul li a {
    display: block;
    padding: .4rem .7rem;
    font-size: .9rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
footer ul li a:hover {
    color: white;
}

.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.bg-image {
    background: #007ece;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.bg-image:before {
    content: '';
    display: block;
    position: absolute; /*figure this out */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   /*
    width: 100%;
    height: 100%;
   */

    z-index: -1;
    background: #333 url("../bg.png") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: .8;

    transform: scale(1.1);

}
/*.bg-image.bg-image-2:before {
    opacity: .6;
    background-image: url("http://orbotix.wpengine.netdna-cdn.com/wp-content/uploads/2013/07/Kids3.jpg");
    background-position: center center;
}
*/